body {
    --primary: #c7ecee;
    --background: #535c68;
    --border: #30336b;
    --frame: #686de0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--frame);
}

main {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /* border: 1pt solid var(--border); */
    box-shadow: 2pt 2pt var(--border);
    border-radius: 5pt;
    background-color: var(--background);
    color: var(--primary);
}

h1 {
    margin: 4pt;
}

p {
    font-weight: 600;

    padding-bottom: 4pt;
}