.time-line {
  --background: #badc58;
  --shadow: #30336b;
  --border: #6ab04c;
  --text-color: #686de0;

  list-style: none;
  margin: 8pt;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background);
  border-radius: 6pt;
  box-shadow: 2pt 2pt var(--shadow);
}

.time-line > li {
  padding: 0 4pt;
  border-top: 1pt solid var(--border);
  border-bottom: 1pt solid var(--border);
}

.time-line > li:first-child {
  border-top: none;
}

.time-line > li:last-child {
  border-bottom: none;
}

.time-line-item {
  text-align: left;
  display: flex;
}

.time-line-item > img {
  object-fit: scale-down;
  max-width: 25%;
  width: auto;
}

.time-line-item > .content {
  margin-left: 2pt;
}

.time-line-item .data {
  display: flex;
}

.time-line-item .data > .data-labels,
.time-line-item .data > .data-values {
  display: flex;
  flex-direction: column;
  padding: 1pt 2pt;
}

.time-line-item .data > .data-labels {
  text-align: right;
}
